# Copia solo una de estas opciones a tu archivo .env

# Opcion 1: ejecucion local con PostgreSQL instalado en Windows
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nyc_tlc_trips
DB_USER=postgres
DB_PASSWORD=tu_contraseña

# Opcion 2: ejecucion con Docker Compose
# DB_HOST=db
# DB_PORT=5432
# DB_NAME=nyc_tlc_trips
# DB_USER=postgres
# DB_PASSWORD=postgres
